<h4 class="center-align">Question</h4>
  <div class="row">
    <form class="col s12" action="/new_post" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" name="item1_name" class="field post" placeholder="First Item" value="<%= @item1.name %>">
        </div>
        <div class="input-field col s6">
          <input type="text" name="item2_name" class="field post" placeholder="Second Item" value="<%= @item2.name %>">
        </div>
        <div class="input-field col s6">
          <input type="url" class="url_input post" name="item1_url" data-image-target="image1" placeholder="URL for first item" value="<%= @item1.url %>">
        </div>
         <div class="input-field col s6">
          <input type="url" class="url_input post" name="item2_url" data-image-target="image2" placeholder="URL for second item" value="<%= @item2.url %>">
        </div>
        <div class="input-field col s4 offset-s1">
          <img id = "image1" src="<%= @item1.url %>" height = 400px width = 400px>
        </div>
        <div class="input-field col s4 offset-s2">
          <img id = "image2" src="<%= @item2.url %>" height = 400px width = 400px>
        </div>
      </div>
      <% %w{ Technology Lifestyle Entertainment }.each_with_index do |category, idx| %>
        <div class="col s4">
        <p>
          <input type="radio"
                 class="with-gap"
                 id="category<%= idx + 1 %>"
                 name="category"
                 value="<%= category %>"
                 <% if @question.category == category %>checked="checked"<% end %>
                 />
          <label for="category<%= idx + 1 %>"><%= category %></label>
        </p>
      </div>
      <% end %>
      <br>
      <br>
      <br>
      <div class="center-align">
        <button class="btn waves-effect waves-light" class="center-align" type="submit">Post
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div